<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="api" enabled="false">
        <classes >
            <class name="com.gmail.ivanytskyy.vitaliy.api.AuthTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.api.UsersTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.api.CarsTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.api.ExpensesTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.api.InstructionsTest" />
        </classes>
    </test>
    <test name="ui" enabled="true" parallel="classes" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <!-- --><class name="com.gmail.ivanytskyy.vitaliy.ui.HomePageTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.SignInTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.SignUpTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.guest.GuestGarageTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.guest.GuestExpensesTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.guest.GuestInstructionsTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.user.UserGarageTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.user.UserExpensesTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.user.UserInstructionsTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.user.UserProfileTest" />
            <class name="com.gmail.ivanytskyy.vitaliy.ui.user.UserSettingsTest" /><!-- -->
        </classes>
    </test>
    <test name="unit" enabled="false">
        <packages >
            <package name="com.gmail.ivanytskyy.vitaliy.unit"/>
        </packages>
    </test>
</suite>